<!DOCTYPE html>
<html lang="es">
<%- include('./partials/headerLogeado.ejs') %> 
  <!-- Banner -->
  <div class="banner">
    <img src="img/banner.jpg" alt="Banner de ofertas" height="100%">
  </div>
  <!-- /Banner -->

  <!-- Novedades -->
  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="products-title">Novedades</h2>
      </div>
     <!--     Show the "ultimos" products-->
      <% for (let i=0; i< products.lenght; i++){ %>
      <div class="col-12 col-sm-6 col-lg-3">
        <section class="product-box">
          <a href="/products/detail/<%= products[i].id %>" >
            <figure class="product-box_image">
              <img src= <%= products[i].img %> alt="<%= products[i]._name %>" class="img-index">
            </figure>
            <article class="product-box_data">
              <h2><%= products[i]._name %></h2>
              <p><%= products[i]._description %></p>
              <p>Comentarios: <!--products.comments.lenght --></p>
            </article>
          </a>
        </section>
      </div>
      <%} %>
 </div>
</div>

<%- include('./partials/footer.ejs') %> 
</html>