<%- include('./partials/header.ejs') %> 
    <h1><%= product.name %></h1>
    <ul>
      <li><b>Description:</b> <%= product.description %></a></li>
      <li><b>Price:</b>$ <%= product.price %></li>
    </ul>
<%- include('./partials/footer.ejs') %> 