<%- include('./partials/headerLogeado.ejs') %> 
<div class="container product-wrapper">
  <div class="d-flex align-items-center">
    <h2 class="product-title"><%= product._name %></h2> 
  </div>
  <div class="product-detail">
    <div class="row">
      <article class="col-12 col-lg-8 product-detail-info">
        <img src="<%= product.img%>" alt="" class="product-detail-img">
        <strong><p class="product-detail-description"><%= product.price %></p></strong>
        <p class="product-detail-description"><%= product._description %></p>
      </article>
      
      <div class="col-12 col-lg-4">

        <section class="comments">
        <h2>Comentarios</h2>
          <% for (let i= 0; i < product.comments.length; i++) { %>
            <div class="card mb-2">
              <div class="card-body">
                <b><%= product.comments[i].user.username %></b></br>
                <%= product.comments[i].content %>
              </div>
            </div>
          <% } %>
        </section>
        <form class="form" action="/products/detail/<%= product.id %>" method="POST">
          <input class="form-input" type="text" value="" name="content" id="content" placeholder="Agregar comentario">
          <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
        </form>
        <hr>
      </div>
    </div>
  </div>
</div>
<% if (locals.user && user.id == product.user_id) { %>
  <form action="/products/<%= product.id %>/delete" method="POST">
    <input class="btn btn-danger" type="submit" value="Borrar">
  </form>
  <form action="/products/<%= product.id %>/edit" method="GET">
    <input class="btn btn-danger" type="submit" value="Edit">
  </form>
<% } %>
<%- include('./partials/footer.ejs') %> 