<%- include('./partials/header.ejs') %> 
    <h1><%= product.name %></h1>
    <ul>
      <li><b>Description:</b><%= product.description %></li>
      <li><b>Price:</b>$ <%= product.price %></li>
    </ul>
    <img src="<%= product.img%>" style="max-width: 200px;"/>
<%- include('./partials/footer.ejs') %> 