<%- include('./partials/header.ejs') %> 
    <h1><%= product[req.params.id].name %></h1>
    <ul>
      <li><b>Description:</b> <%= product[req.params.id].description %></a></li>
      <li><b>Price:</b>$ <%= product[req.params.id].price %></li>
    </ul>
<%- include('./partials/footer.ejs') %> 