<%- include('./partials/headerLogeado.ejs') %> 
<h1><%= user.name %></h1>
<ul>
  <li><b>Email:</b> <%= user.mail %></li>
  <li><b>Phone:</b> <%= user.phone %></li>
</ul>
<img src="<%= user.picture %>" style="max-width: 200px;" />
<%- include('./partials/footer.ejs') %> 