<%- include('./partials/header.ejs') %>
<h1><%= products._name %></h1>
<ul>
  <li><b>Year:</b> <%= products._description %></li>
  <li><b>Price:</b>$ <%= products.price %></li>
</ul>
<img src="<%= products.img %>" style="max-width: 200px;" />

<%- include('./partials/footer.ejs') %>